@import "tailwindcss";

container {
  background: var(--light-blue);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex;
}

containerWithTabs {
  background: var(--light-blue);
  border-radius: 0 10px 10px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex;
}

tab {
  padding: 0.75rem;
  width: 100%;

  font-size: 26px;
}

.chartTab {
  background: var(--light-gray);
  font-size: 16px;
  padding: 10px 50px 5px 50px;
  border-radius: 10px 10px 0 0;
}

.chartTab.selected {
  background: var(--light-blue);
}

button, .button {
  background: var(--light-blue);
  border-radius: 10px;
  padding: 1rem;

  font-size: 56px;
  font-weight: 500;
}

legendIcon {
  width: 16px;
  height: 16px;
  border-radius: 6px;
  flex-shrink: 0;
}