@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --blue: #dfe1ff;
  --dark-blue: #5645a9;
  --light-blue: #f5f5ff;
  --white: #ffffff;
  --light-gray: #cacaca;
  --disabled: #f0eff8;
  --text: #221d54;

  --color-1: #c73cc9;
  --color-2: #B767FD;
  --color-3: #6a8afd;
  --color-4: #56aef7;
  --color-5: #49cfea;
  --color-6: #6fdec9;
  --color-7: #78127a;
  --color-8: #450f75;
  --color-9: #142d84;
  --color-10: #0a51bb;
  --color-11: #0067bb;
  --color-12: #03819a;
  --color-13: #009a7e;
  --color-14: #006b83;
  --color-15: #005243;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--blue);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Inter Tight", sans-serif;
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.statistic {
  font-weight: 600;
  font-size: clamp(24px, 5vw, 55px);
  color: var(--dark-blue);
}

.statisticDescription {
  font-size: clamp(14px, 3vw, 24px);
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  font-weight: 600;
}

p {
  margin: 0;
}