@import "tailwindcss";

:root {
  --blue: #e2e2ff;
  --light-blue: #f5f5ff;
  --white: #ffffff;
  --light-gray: #cacaca;
  --text: #130921;

  --color-1: #ff7777;
  --color-2: #f18a1b;
  --color-3: #d7b728;
  --color-4: #6ee03d;
  --color-5: #00e5ff;
  --color-6: #007bff;
  --color-7: #0004ff;
  --color-8: #9000ff;
  --color-9: #ff00fb;
  --color-10: #000000;
  --color-11: #464646;
  --color-12: #818181;
  --color-13: #bfbfbf;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--blue);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}